<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <application
            android:name=".base.AudiosApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:networkSecurityConfig="@xml/network_security_config"
            android:theme="@style/Theme.Audios"
            tools:targetApi="31"
    >
<!--        android:requestLegacyExternalStorage="true"-->
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-9873703819368989~1289997911"/>


        <activity
                android:name=".activity.SplashActivity"
                android:exported="true"
                android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.MainActivity" android:screenOrientation="unspecified"/>

        <activity
                android:name="com.mocoplex.adlib.AdlibDialogActivity"
                android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
                android:theme="@android:style/Theme.Translucent"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <!-- API 32 이하를 위한 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    
    <!-- API 33 이상을 위한 세분화된 미디어 권한 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    
    <!-- 전체 파일 시스템 접근을 위한 선택적 권한 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>




</manifest>